NODE_ENV=development
PORT=3002
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=product_db
AWS_REGION=ap-southeast-1
AWS_ENDPOINT=http://localhost:4566
S3_MEDIA_BUCKET=ecom-media-dev
S3_STATIC_BUCKET=ecom-static-dev
JWT_ACCESS_SECRET=dev_access_secret_change_in_prod
