# Order Service environment variables
NODE_ENV=development
PORT=3003

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=order_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_ACCESS_SECRET=dev_access_secret

# AWS
AWS_REGION=ap-southeast-1
AWS_ENDPOINT=http://localhost:4566
SQS_QUEUE_URL=http://localhost:4566/000000000000/order-created

# External Services
PRODUCT_SERVICE_URL=http://localhost:3002
